Database/БД_ЛР_05/ValidateCS/CompanySummary.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

   <xsd:element name="CompanySummary">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="RegDate" type="xsd:date" minOccurs="0"/>
            <xsd:element name="NumEmps" type="xsd:int"  minOccurs="0"/>
         </xsd:sequence>
         <xsd:attribute name="CompanyName" type="xsd:string"/>
      </xsd:complexType>
   </xsd:element>
  
</xsd:schema>
